{% extends 'base.html.twig' %}

{% block title %}Mon panier
{% endblock %}

{% block body %}

	<h1 class="text-center">Mon panier</h1>

	{# si j'ai des produits dans mon panier, j'affiche son contenu #}
	{% if items %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Nom Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td><img src="{{item.produit.image}}" alt="Image du produit" class="img-fluid" style="max-width:20vw;max-height:20vh"></td>
						<td>{{ item.produit.nom }}</td>
						<td>{{ item.produit.prix }}€</td>
						<td>{{ item.quantity }}
							<a href="{{ path('panier_add', {id : item.produit.id}) }}">
								<i class="fas fa-plus"></i>
							</a>
							<a href="{{ path('panier_remove', {id : item.produit.id}) }}">
								<i class="fas fa-minus"></i>
							</a>
						</td>
						<td>{{ item.produit.prix * item.quantity }}</td>
						<td>
							<a href="{{ path('panier_delete', {id : item.produit.id}) }}" class="btn-sm btn-danger">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-end">
						Total :</td>
					<td>
						{{ total }}€
					</td>
				</tr>
			</tfoot>
		</table>
		<a href="{{ path('thank_you') }}" class="btn btn-primary">
			Payer
		</a>


	{% else %}
		<p>Mon panier est vide !</p>
	{% endif %}

{% endblock %}
