{% extends "base.html.twig" %}

{% block body %}
	<h1>
		{% if editMode %}
			Edition de l'article
		{% else %}
			Création d'un article
		{% endif %}
	</h1>
	{{ form_start(formProduit) }}

	{{ form_row(formProduit.nom, {
        'label':'Nom',
        'attr': {
            'placeholder': "Nom du produit"
        }
    }) }}

	{{ form_row(formProduit.description, {
        'label':'Contenu',
        'attr': {
            'placeholder': "Description du produit"
        }
    }) }}

	{{ form_row(formProduit.image, {
		'label':"Choisissez une image",
		'attr': {
			'placeholder': "Ajoutez le lien de l'image"
		}
	}) }}

	{{ form_row(formProduit.categorieid, {
        'label': "Catégorie"
    }) }}

	{{ form_row(formProduit.prix , {
		'label': "Prix du produit"
	})}}

	<button type="submit" class="btn btn-primary">
		{% if editMode %}
			Enregistrer les modifications
		{% else %}
			Ajouter le produit
		{% endif %}
	</button>

	{{ form_end(formProduit) }}

{% endblock %}
