{% extends "base.html.twig" %}

{% block body %}
	<section>
		<section class="produits">
			<article class="container-lg">
				<div class="row">
					<div class="col-lg">
						<img src="{{ produit.image }}" alt="" class="img-fluid" style="max-width:20vw;max-height:20vh">
					</div>
					<div class="col-sm">
						<h2>{{ produit.nom }}</h2>
						<div class="metadata">
							{{ produit.categorieid.titre }}</div>
						<div class="content">
							<hr>
							{{ produit.description |raw}}
						</div>
						<hr>
						<h2>{{ produit.prix }}
							€</h2>
						<a href="{{ path('panier_add', {id: produit.id }) }}" class="btn btn-warning">Ajouter au panier</a>
					</div>
				</div>
			</article>
		</section>
		<hr>
		<h2 class="text-center mx-auto m-3">Commentaires</h2>
		<section id="commentaire" class="col-md-10 mx-auto">

			{% for commentaire in produit.commentaires %}

				<div class="comment">
					<div class="row">
					{# {% if is_granted('IS_ATHENTICATED_FULLY') %} #}
					{{ form_start(formCommentaire) }}
					{{ form_row(formCommentaire.contenu, {
						'attr': {
							'placeholder': "Ajouter un commentaire"
						}
					}) }}
					<button type="submit" class="btn btn-warning">Envoyer</button>
					{{ form_end(formCommentaire) }}
					{# {% endif %} #}
						<div class="col-md-3">
							{{ commentaire.user_id.user }}
							<small>{{ commentaire.createdAt |date('d/m/Y à H:i:s') }}</small>
						</div>
						<div class="col-md-9">
							{{ commentaire.contenu |raw }}
						</div>
					</div>
				</div>
				<hr>

			{% endfor %}

		</section>

	{% endblock %}
