{% extends "base.html.twig" %}

{% block body %}
	<section>
		<section class="produits">
			<article class="container-lg">
				<div class="row">
					<div class="col-lg">
						<img src="{{ produit.image }}" alt="" class="p-2" style="width:90%; height:90%">
					</div>
					<div class="col-sm">
						<h2>{{ produit.nom }}</h2>
						<div class="metadata">
							{{ produit.categorieid.titre }}</div>
						<div class="content">
							<hr>
							{{ produit.description |raw}}
						</div>
						<hr>
						<h2>{{ produit.prix }}
							€</h2>
						<a href="{{ path('panier_add', {id: produit.id }) }}" class="btn btn-warning">Ajouter au panier</a>
					</div>
				</div>
			</article>
		</section>
		<hr>
		<h2 class="text-center mx-auto m-3">Commentaires</h2>
		<section id="commentaire" class="col-md-10 mx-auto">

			{% for commentaire in produit.commentaires %}

				<div class="commentaire">
					<div class="row">
						<div class="col-md-3">
							{{ commentaire.user_id }}
							<small>{{ commentaire.createdAt |date('d/m/Y à H:i:s') }}</small>
						</div>
						<div class="col-md-9">
							{{ commentaire.contenu |raw }}
						</div>
					</div>
				</div>
				<hr>

			{% endfor %}

		</section>

	{% endblock %}
